.main-page {
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.page-content {
	min-height: 500px;
}

.page-left {
	width: 700px;
  float: left;
}

.page-right {
	float: right;
  width: 300px;
  position: relative;
}

.page-bottom{
	width: 100%;
  float: right;
  min-height: 500px;
}
