<div class="widget widget-cate">
	<div class="title-newsong">
		<h3><a href="" title="New song">NEW  SONG</a></h3>
	</div>
	<div class="hotsong">
		<div class="list-music">
			<div class="fram_select">
				<ul>
					<li class="song">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li>

					<li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li>
					<li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li>

					<li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li>
					<li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li>

					<li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li>
					<li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li>

					<li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li><li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li>

					<li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li><li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li>

					<li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li><li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li>

					<li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li><li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li>

					<li style="list-style: none; width: 450px; float: left; margin-right: 30px; border-top: #ececec solid 1px; padding: 16px 0px; line-height: 24px;">
						<div class="box-content-music-list">
                            <div class="info_song" style="color: #999999;">
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name_song" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Áo Lụa Hà Đông</a>
                                <span style="float: left; padding: 0px 5px; color: #666666; font-size: 12px;">-</span>
                                <a href="https://www.nhaccuatui.com/bai-hat/ao-lua-ha-dong-hoai-lam.pWbVPUL6L1od.html" class="name-singer" title="Áo Lụa Hà Đông - Hoài Lâm" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','pWbVPUL6L1od','','title']);">Hoài Lâm</a>
                            </div>

                            <span class="icon_listen" wgct="1">98.172</span>
                        </div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
