.title-newsong {
    text-transform: uppercase;
    font-weight: 340;
    margin-bottom: 5px;
    margin-left: 10px;
/*    border-style: solid;
    border-width: 1px;*/
}

.title-newsong h3>a{
    color: #2582be;
    background: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png) right -155px no-repeat;
    text-transform: uppercase;
    padding: 0 20px 0 0;
    font-weight: 340 !important;
    transition: all 0.2s linear;
    text-decoration: none;
}

.hotsong {
	margin: 0;
	padding: 0;
}

.hotsong ul {
	display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.song {
	padding: 10px;
/*    border-bottom: solid 1px #ECECEC;
*/    list-style: none;
    text-align: -webkit-match-parent;
}

.rank-lable {
	font-size: 22px;
    top: 0;
    left: -10px;
    width: 30px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 400;
    color: #666;
    margin: 0;
    padding: 0;
    float: left;
}

.label-rank-status {
    top: 20px;
    left: 18px;
    width: 62px;
    text-align: center;
    color: #666;
    font-size: 14px;
    float: left;
}

.list-music {
    width: 1000px;
    float: left;
}
.fram_select {
    width: 1000px;
    float: left;
    overflow: hidden;
}

.box-content-music-list {
    position: relative;
}
.info_song {
    float: left;
    width: 400px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon_listen {
    position: absolute;
    color: #999999;
    right: 0;
    font-size: 12px;
    background: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png) left -194px no-repeat;
    padding-left: 15px;
    line-height: 24px;
    display: block;
    margin: 1px 0 0 0;
}
.name_song{
    font-size: 14px;
    float: left;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    color: #444444;
    text-decoration: none;
    font-weight: 550;

}
.name_song:hover{
    color: #2582be;
}

.name-singer {
    font-size: 14px;
    float: left;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    color: #999999;
    text-decoration: none;
}

.name-singer:hover{
    color: #2582be;
}
.song {
    list-style: none; 
    width: 450px; 
    float: left; 
    margin-right: 30px; 
    border-top: #ececec solid 1px; 
    padding: 16px 0px; 
    line-height: 24px;
}

li:hover{
    background: #fbfdff;
}