.title-hotgenre {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
}

.title-hotgenre h2{
	font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    margin: 10px;
    text-align: center;
    font-size: 25px!important;    

}

.hotgenre {
	margin-bottom: 5px;
}

.img-responsive {
    margin: 0 auto;
    display: block;
    width: 280px;
    height: 70px;
}