
<div class="title-hotgenre">
	<h3><a href="" title="Chủ Đề Hot">HOT GENRE</a></h3>
</div>

<div class="hotgenre">
	<a href="/chu-de/Zing-Music-Awards-2017/IWZ99F06.html#home_chude_01" title="Zing Music Awards 2017" class="_trackLink" tracking="_frombox=#home_chude_01">

        <img src="../assets/icon/1.jpg" class="img-responsive" alt="Zing Music Awards 2017">
	        
	</a>
</div>

<div class="hotgenre">
	<a href="/chu-de/Zing-Music-Awards-2017/IWZ99F06.html#home_chude_01" title="Zing Music Awards 2017" class="_trackLink" tracking="_frombox=#home_chude_01">

        <img src="../assets/icon/2.jpg" class="img-responsive" alt="Zing Music Awards 2017">
	        
	</a>
</div>

<div class="hotgenre">
	<a href="/chu-de/Zing-Music-Awards-2017/IWZ99F06.html#home_chude_01" title="Zing Music Awards 2017" class="_trackLink" tracking="_frombox=#home_chude_01">

        <img src="../assets/icon/3.jpg" class="img-responsive" alt="Zing Music Awards 2017">
	        
	</a>
</div>

<div class="hotgenre">
	<a href="/chu-de/Zing-Music-Awards-2017/IWZ99F06.html#home_chude_01" title="Zing Music Awards 2017" class="_trackLink" tracking="_frombox=#home_chude_01">

        <img src="../assets/icon/4.jpg" class="img-responsive" alt="Zing Music Awards 2017">
	        
	</a>
</div>

