<div class="widget widget-cate">
	<div class="title-hotgenre">
		<h2>HOT GENRE</h2>
	</div>
	<div class="hotgenre">
		<a href="/chu-de/Zing-Music-Awards-2017/IWZ99F06.html#home_chude_01" title="Zing Music Awards 2017" class="_trackLink" tracking="_frombox=#home_chude_01">

	        <img src="https://zmp3-photo.zadn.vn/covers/f/7/f766f301706abd51957040cf1dedeaad_1514271731.jpg" class="img-responsive" alt="Zing Music Awards 2017">
		        
		</a>
	</div>

	<div class="hotgenre">
		<a href="/chu-de/Zing-Music-Awards-2017/IWZ99F06.html#home_chude_01" title="Zing Music Awards 2017" class="_trackLink" tracking="_frombox=#home_chude_01">

	        <img src="https://zmp3-photo.zadn.vn/covers/f/7/f766f301706abd51957040cf1dedeaad_1514271731.jpg" class="img-responsive" alt="Zing Music Awards 2017">
		        
		</a>
	</div>
	
	<div class="hotgenre">
		<a href="/chu-de/Zing-Music-Awards-2017/IWZ99F06.html#home_chude_01" title="Zing Music Awards 2017" class="_trackLink" tracking="_frombox=#home_chude_01">

	        <img src="https://zmp3-photo.zadn.vn/covers/f/7/f766f301706abd51957040cf1dedeaad_1514271731.jpg" class="img-responsive" alt="Zing Music Awards 2017">
		        
		</a>
	</div>

	<div class="hotgenre">
		<a href="/chu-de/Zing-Music-Awards-2017/IWZ99F06.html#home_chude_01" title="Zing Music Awards 2017" class="_trackLink" tracking="_frombox=#home_chude_01">

	        <img src="https://zmp3-photo.zadn.vn/covers/f/7/f766f301706abd51957040cf1dedeaad_1514271731.jpg" class="img-responsive" alt="Zing Music Awards 2017">
		        
		</a>
	</div>
</div>
